.dish
    .dish__image
        img(src="/images/dish.jpg")
    .dish__info
        .dish__title Пивная тарелка
        .dish__weight 300 г
        .dish__text Классическая пивная тарелка с картофелем, сыром и копченостями прекрасно подойдет к пенному напитку
    .dish__order
        .button.button__primary(data-role="dish-order") Хочу
        .dish__price 350 руб
            .dish__old 450 руб