.dish
    .dish__image
        .dish__labels
            .dish__label.dish__label-action Акция!
        img( data-lazy="/images/dish.jpg" src="/images/dishplaceholder.png")
    .dish__info
        .dish__title Пивная тарелка sdfsdf sfsdf sdfsdf
        a(href="#").dish__category Фирменная лапша
        .dish__weight 300 г
        .dish__text Классическая пивная тарелка с картофелем, сыром и копченостями прекрасно подойдет к пенному напитку sdfsdf sdfsdf sdfsdf sdfsdf sdf 
    .dish__order
        .button.button__primary(data-role="dish-order") Хочу
        .dish__price 350 руб
            .dish__old 450 руб