.footer
    .container
        .footer__inner
            a(href="#").footer__logo
                img(src="images/logo.png")
            .footer__menu
                a(href="#").footer__menu-item Главная
                a(href="#").footer__menu-item Меню
                a(href="#").footer__menu-item О нас
                a(href="#").footer__menu-item Контакты  
            include ../social/social