.store {
	&__inner {

	}
	&__info {
		display: flex;
		justify-content: space-between;
		padding: 30px;
		background-color: #f2f2f2;
		&-item {
			padding: 0 5px 0 50px;
			width: 33%;
			color: #333;

			a {
				color: #88bd4b;
				border-bottom: 1px solid #88bd4b;

				&:hover {
					text-decoration: none;
					opacity: .7;
				}
				&:focus {
					text-decoration: none;
				}
			}

			&:first-child {
				background: url('order-food-store.svg') no-repeat;
				background-size: 40px;
				background-position: 0px 3px;
				display: flex;
				align-items: center;
			}
			&:nth-child(4) {
				background: url('restaurant-1.svg') no-repeat;
				background-size: 35px;
				background-position: 0px 3px;
			}
			&:nth-child(2) {
				background: url('clock.svg') no-repeat;
				background-size: 35px;
				background-position: 0px 3px;
			}
			&:last-child {
				background: url('timer.svg') no-repeat;
				background-size: 40px;
				background-position: 0 0;
			}
		}
	}
	&__block {
		transition: all, .3s;
		&-active {
			opacity: 1;
		}
		&-noactive {
			opacity: 0;
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0 -15px 0 -15px;
	}
	&__item {
		width: calc(25% - 30px);
		margin: 15px 15px 40px 15px;
  		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}
	&__category {
		margin: 60px 0 20px 0;
		
	}
	&__info {
		color: #666;
		margin-top: 20px;
		font-size: 14px;

		&-row {
			line-height: 20px;

			a {
				color: #555;
				border-bottom: 1px solid #555;

				&:hover {
					text-decoration: none;
				}
				&:focus {
					text-decoration: none;
				}
			}
		}
	}
}

.spasibo {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	.title {
		margin-bottom: 30px;
		width: 100%;
		text-align: center;
	}

	p {
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 1220px) {
	.store {
		&__item {
			width: calc(33.33% - 30px);
		}
	}
}

@media (max-width: 990px) {
	.store {
		&__info {
			padding: 20px;
			&-item {
				font-size: 13px;
				padding: 0 10px 0 40px;
				&:first-child {
				background-size: 30px;
				}
				&:nth-child(2) {
					background-size: 25px;
				}
				&:nth-child(3) {
					background-size: 25px;
				}
				&:last-child {
					background-size: 30px;
				}
			}
		}
	}
}

@media (max-width: 840px) {
	.store {
		&__info {
			flex-wrap: wrap;
			&-item {
				padding: 0 40px 10px 40px;
				width: 50%;
			}
		}
	}
}

@media (max-width: 768px) {
	.store {
		&__item {
			width: calc(50% - 30px);
		}
		&__category {
			&:first-child {
				margin-top: 15px;
			}
		}
	}
}

@media (max-width: 560px) {
	.store {
		&__info {
			margin-bottom: 20px;
			&-item {
				width: 100%;
				padding: 0 20px 30px 40px;
			}
		}
		&__item {
			margin: 15px 10px;
			padding-bottom: 15px;
			border-bottom: 1px dashed rgba(68, 68, 68, 0.527);
			width: calc(100% - 20px);
		}
		&__items {
			margin: 0 -10px 0 -10px;
		}
		&__info {
			font-size: 11px;
		}
	}
}