.about
    .about__info
        .about__image
            .about__image-inner
                a(href="#").zoompic.zoompic-dark
                    img(src="images/about1.jpg")
        .about__info-inner
            .about__title
                | Немного о нас
            .about__content
                .about__subtitle 
                    h2 «Шумовка» - это свежая еда <br> и прекрасный сервис
                .about__text Integer a dolor eu eros sodales posuere. Nam tempus lacus pulvinar purus faucibus ultricies sed ac dolor. Aenean vitae sapien eget risus posuere cursus. Donec accumsan erat erat, vel fermentum lectus iaculis ut.
                .about__buttons
                    a(href="").button-secondary.button-secondary-about Наша фото-лента
