.about
    .about__info
        .about__info-inner
            .about__title
                h2 Немного о нас
            .about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis posuere massa. Fusce interdum porttitor tempor. Proin sit amet massa lacus. Nam venenatis lorem ac nulla euismod, et rutrum erat aliquet. Aenean vel magna vestibulum ex volutpat tincidunt. Nunc interdum orci id mollis ultricies. Donec a est non sem varius condimentum ac eget dolor. Nulla lacinia nisi ante, vel dignissim nisl maximus non. Nulla facilisi. Vivamus rhoncus ultrices elit.
            .about__button
            .about__socials
                a(href="#") Читать дальше
    .about__images
        //- .about__image 
        //-     img(src="images/about1.jpg")
        //- .about__image 
        //-     img(src="images/about2.jpg")
        //- .about__image 
        //-     img(src="images/about3.jpg")
        //- .about__image 
        //-     img(src="images/about4.jpg")
        //- .about__image 
        //-     img(src="images/about5.jpg")
        //- .about__image 
        //-     img(src="images/about6.jpg")
        //- .about__image 
        //-     img(src="images/about7.jpg")
        //- .about__image 
        //-     img(src="images/about8.jpg")
        //- .about__image 
        //-     img(src="images/about9.jpg")