.about
    .about__info
        .about__info-inner
            .about__title
                h2 Немного о нас
            .about__text
                ul
                    li Свежие роллы, сочная пицца, сытные ланчи и другие гастрономические удовольствия помогут чувству голода исчезнуть, а заряду энергии не покинуть вас до самого вечера
                    li Мы специально оставили зону кухни открытой, чтобы процесс приготовления оставался максимально прозрачным, а качество не вызывало сомнений. 
                    li Перекусить в кафе, забрать еду с собой в удобных боксах или заказать с доставкой – выбор за вами.
                    li Домашний уют и профессиональное исполнение блюд обязательно оставят приятное послевкусие от нашей встречи. Надеемся «Шумовка» станет неотъемлемой частью вашего образа жизни! 
            .about__button
            .about__socials
                a(href="#" class="button button__reverse") Читать дальше
    .about__images
        //- .about__image 
        //-     img(src="images/about1.jpg")
        //- .about__image 
        //-     img(src="images/about2.jpg")
        //- .about__image 
        //-     img(src="images/about3.jpg")
        //- .about__image 
        //-     img(src="images/about4.jpg")
        //- .about__image 
        //-     img(src="images/about5.jpg")
        //- .about__image 
        //-     img(src="images/about6.jpg")
        //- .about__image 
        //-     img(src="images/about7.jpg")
        //- .about__image 
        //-     img(src="images/about8.jpg")
        //- .about__image 
        //-     img(src="images/about9.jpg")