.banners
	.container
		.row
			.col-lg-8
				.banners__left
					h2.banners__left-title Доставка и еда на вынос
					.banners__left-info 
						| Мы можем доставить ваш заказ
						br
						| или приготовить его к определенному времени
			.col-lg-4
				.banners__right
					h2.banners__right-title Ланч-дня
					.banners__right-subtitle Всегда разный, <br> всегда вкусный!
					.banners__right-price Фиксированная цена:
					.banners__right-price-num 200р
					.banners__right-buttons
						a(href="#").banners__right-more Подробнее