.menu {
	display: flex;
	align-items: center;
	margin-left: 30px;
	&__wrapper {
		display: flex;
		align-items: center;
	}
	&__title {
		display: none;
	}
	&__item {
		position: relative;
		// text-transform: uppercase;
		font-size: 15px;
		&-link {
			color: #596150;
			font-weight: 600;
			padding: 16px 11px 12px;
			font-size: 15px;
			display: inline-block;
			// font-family: 'a_futuraroundbold', 'Open Sans', sans-serif;

				&:focus {
					color:#88bd4b;
					text-decoration: none; 
				}
		}

		&:hover {

			> a {
				color:#88bd4b;
				text-decoration: none;
			}
		}


		&-dropdown {
			position: relative;
			&:hover {
				.menu__submenu {
					opacity: 1;
					visibility: visible;
					transform: translate(0, 0);
				}
				&::after {
					transform: rotate(135deg) translate(2px, -2px);
				}
			}

			&::after {
				position: absolute;
				content: '';
				width: 7px;
				height: 7px;
				top: 27px;
				right: 11px;
				border-left: 2px solid #88bd4b;
				border-bottom: 2px solid #88bd4b;
				transition: all, .2s;
				transform: rotate(-45deg);

			}
		}
	}
	&__submenu {
		position: absolute;
		padding: 12px;
		top: 100%;
		left: -49px;
		z-index: 10;
		background-color: #88bd4b;
		background-image: url('back3.svg');
		background-repeat: no-repeat;
		background-size: 170px;
		background-position: 117px 50%;
		width: 234px;
		border-radius: 4px;
		transition: all, .3s;
		visibility: hidden;
		opacity: 0;
		transform: translate(0, 3px);
		&::after {
			position: absolute;
			content: '';
			width: 14px;
			height: 14px;
			background-color: #88bd4b;
			top: -5px;
			left: 50%;
			margin-left: -7px;
			transform: rotate(-45deg);
		}
	}

	&__subitem {
		display: block;
		color: $white;
		padding: 8px 12px;
		font-size: 14px;
		font-weight: 500;
		transition: all, .3s;
		// font-family: 'a_futuraroundregular', 'Open Sans', sans-serif;

		&:hover {
			color: $white;
			text-decoration: none;
			background-color: rgba(77, 122, 4, 0.377);
			border-radius: 4px;
		}
		&:focus {
			color: $white;
			text-decoration: none;
			background-color: rgba(77, 122, 4, 0.377);
			border-radius: 4px;
		}
	}
}

@media (max-width: 920px) {
	.menu {
		&__item {
			&-link {
				padding: 15px 15px;
				font-size: 16px;
			}
			&-dropdown {
				&::after {
					top: 19px;
    				right: 5px;
    				width: 6px;
    				height: 6px;
				}
			}
		}
		&__submenu {
			padding: 8px;
		}
		&__subitem {
			padding: 7px;
		}
	}
}

@media (max-width: 780px) {
	.menu {
		border-top: 2px solid #f2f2f2;
		position: fixed;
		display: none;
		width: 100%;
		height: calc(100% - 53px);
		overflow-y: scroll;
		top: 53px;
		left: 0;
		margin-left: 0;
		background-color: #fff;
		z-index: 2;
		padding-bottom: 50px;
		&__item {
			&-dropdown::after {
					display: none;
			}

			&-link {
				padding: 10px 15px 5px 15px;
				&_accent {
					font-weight: 700;
					color: #589411;
				}
			}
		}
		&__submenu {
		// display: none;
		position: static;
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
		width: 100%;
		padding-left: 10px;
		background: transparent;
		&::after {
			display: none;
		}
		}

		&__subitem {
			color: #000;
			font-size: 15px;
			&:hover {
				background: transparent;
				opacity: .7;
				color: #000;
			}
		}
	}
}