.actions {
  &__item {
    display: flex;
    justify-content: space-between;
    outline: none;
    &-inner {
      display: flex;
      align-items: center;
      padding-left: 15px;
      padding-bottom: 15px;
      min-height: 373px;
    }
  }
  &__info {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 11px -1px #888;
    padding: 30px 100px 30px 45px;
    width: 700px;
    border-radius: 6px;
    &::after {
      position: absolute;
      content: '';
      width: 250px;
      height: 250px;
      top: 50%;
      right: -150px;
      margin-top: -125px;
      transform: rotate(-45deg);
      background: url('napkin.jpg');
      border-radius: 4px;
      box-shadow: 0 0 10px -4px #444;
      z-index: -1;
    }
  }
  &__img {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    &-inner {
      width: 442px;
      position: relative;
      left: -37px;
      top: 9px;
      box-shadow: 0 4px 18px -5px #333;
    }

    img {
      width: 100%;
      border-radius: 4px;
      border: 3px solid $white;
    }
  }
  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #a1c834;
  }
  &__dishWeight {
    color: #999;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 50px;
    color: #555;
  }
  &__head {
    text-transform: uppercase;
    color: $black;
    font-weight: 700;
    text-align: center;
  }
}