.social
    span.social__caption Мы с социальных сетях:
    a(href="https://vk.com/shymovka_cafe").social__button.social__button-vk
    a(href="https://www.instagram.com/shymovka_cafe/?hl=ru").social__button.social__button-inst