.filter
	.filter__inner
		a(href="#" data-role="filter-button").filter__item 
			span Все
		a(href="#pizza" data-role="filter-button").filter__item 
			span Пицца
		a(href="#rolly" data-role="filter-button").filter__item 
			span Роллы
		a(href="#zakuski" data-role="filter-button").filter__item 
			span Закуски
		a(href="#salaty" data-role="filter-button").filter__item 
			span Салаты
		a(href="#pelmeshki" data-role="filter-button").filter__item 
			span Пельмешки
		a(href="#lapsha" data-role="filter-button").filter__item 
			span Лапша
		a(href="#goryachee" data-role="filter-button").filter__item 
			span Горячее
		a(href="#bar" data-role="filter-button").filter__item 
			span Бар
