.store(data-role="store")
	include ../filter/filter
	.store__inner
		.store__block(data-role="store-category" data-route="picca")
			.store__category
				h3 Пицца
			.store__items
				each i in [0,1,2,3,4,5,6]
					.store__item
						include ../dish/dish
		.store__block(data-role="store-category" data-route="picca")
			.store__category
				h3 Роллы
			.store__items
				each i in [0,1,2,3,4,5,6]
					.store__item
						include ../dish/dish
		.store__block(data-role="store-category" data-route="picca")
			.store__category
				h3 Закуски
			.store__items
				each i in [0,1,2,3,4,5,6]
					.store__item
						include ../dish/dish
		.store__block(data-role="store-category" data-route="picca")
			.store__category
				h3 Лапша
			.store__items
				each i in [0,1,2,3,4,5,6]
					.store__item
						include ../dish/dish
		.store__block(data-role="store-category" data-route="picca")
			.store__category
				h3 Пельмешки
			.store__items
				each i in [0,1,2,3,4,5,6]
					.store__item
						include ../dish/dish
		.store__block(data-role="store-category" data-route="picca")
			.store__category
				h3 Бар
			.store__items
				each i in [0,1,2,3,4,5,6]
					.store__item
						include ../dish/dish