.best
	.container
		.best__title
			h2 Любимые блюда наших гостей
				a(href="#").button-secondary Все меню
		.best__inner
			each i in [1,2,3,4,5,6]
				.best__item
					include ../dish/dish 