.header
	.container-fluide
		.header__container
			a(href="#").logo 
				img(src="/images/logo.png" alt="Кафе Шумовка Киров").logo__main
			.menu__wrapper
				.menu
					.menu__item 
						a(href="/").menu__item-link Главная
					.menu__item.menu__item-dropdown 
						a(href="#").menu__item-link Меню
						.menu__submenu
							a(href="").menu__subitem Горячие блюда
							a(href="").menu__subitem Закуски
							a(href="").menu__subitem Салаты
							a(href="").menu__subitem Пицца
							a(href="").menu__subitem Роллы
							a(href="").menu__subitem Напитки
					.menu__item 
						a(href="#").menu__item-link О нас
					.menu__item 
						a(href="#").menu__item-link Контакты
				.contacts
					a(href="#" title="Посмотреть на карте -- ссылка на контакты").contacts__item.contacts__geo
						span Калинина 40
				.contacts
					a(href="tel:+78332416646" title="Позвонить в кафе Шумовка").contacts__item.contacts__phone 
						span +7-(8332)-41-66-46
