.actions(data-role="actions")
    .actions__item
        .actions__item-inner
            .actions__info
                .actions__title Пивная тарелка
                .actions__dishWeight 300 г
                .actions__text Классическая пивная тарелка с картофелем, сыром и копченостями прекрасно подойдет к пенному напитку
                .actions__aside
                    .button.button__primary.button__primary-big(data-role="dish-order") Хочу
                    .dish__price 350 руб
                        .dish__old 450 руб
            .actions__img
                .actions__img-inner
                    img(src="images/dish.jpg")
    .actions__item
        .actions__item-inner
            .actions__info
                .actions__title Ланч дня
                .actions__dishWeight 300 г
                .actions__text Фирменный безнес-ланч от кафе Шумовка - всегда разный, всегда вкусный. Бесплатная доставка от 5 ланчей!
                .actions__aside
                    .button.button-shadow.button__primary.button__primary-big(data-role="dish-order") Узнать подробнее
                    .dish__price 200 руб
            .actions__img
                .actions__img-inner
                    img(src="images/dish3.jpg")
    .actions__item
        .actions__item-inner
            .actions__info
                .actions__title Фирменные пельмени
                .actions__dishWeight 350 г
                .actions__text Текст про пельмешки, про разные начинки и так далее. Пельмени в тайском соусе, пельмени отварные с бульоном
                .actions__aside
                    .button.button-shadow.button__primary.button__primary-big(data-role="dish-order") Заказать
                    .dish__price от 90 руб
            .actions__img
                .actions__img-inner
                    img(src="images/dish2.jpg")