.actions
    .actions__inner(data-role="slider")
        .actions__item
            img(src="images/slide.png")
        .actions__item
            img(src="images/slide.png")
        .actions__item
            img(src="images/slide.png")