.adv
    .container
        .adv__inner
            .adv__item
                .adv__title Вкусная кухня
                .adv__texts Текст на несколько слов в одно предложение - законченная мысль
            .adv__item
                .adv__title Доставка
                .adv__texts Текст на несколько слов в одно предложение - законченная мысль
            .adv__item
                .adv__title Еда на вынос
                .adv__texts Текст на несколько слов в одно предложение - законченная мысль