.adv
    .adv__item
        .adv__title Оригинальные и вкусные рецепты fg
        .adv__desc Свежие роллы, сочная пицца, сытные ланчи и другие гастрономические удовольствия помогут чувству голода исчезнуть, а заряду энергии не покинуть вас до самого вечера.
    .adv__item
        .adv__title Еда на вынос
        .adv__desc  Крутой текст о том, что еду можно взять с собой на вынос. Возможно даже со скидкой
    .adv__item
        .adv__title Открытая кухня
        .adv__desc Мы специально оставили зону кухни открытой, чтобы процесс приготовления оставался максимально прозрачным, а качество не вызывало сомнений. Перекусить в кафе или забрать еду с собой в удобных боксах – выбор за вами
    .adv__item
        .adv__title Доставка в любой уголок
        .adv__desc Текст конкурентного преимущества про доставку на несколько строк
    .adv__item
        .adv__title Спортивные трансляции
        .adv__desc Текст конкурентного преимщества про траснляции на несколько строк