.adv {
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #69CA01;
  &__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__desc {
    font-size: 13px;
    color: #777;
    margin-bottom: 20px;
  }
}