.feed
    .feed__title
        h2 Наша фотолента
    .feed__content
        each i in [0,1,2,3,4,5,6,7,8,9]
            .feed__row
                .feed__item
                    .feed__img
                        img(src="images/about1.jpg")
                    .feed__desc Описание для фотогафии можно в одну строку а можно в несколько
                        .feed__data 21.11.17
                .feed__item
                    .feed__img
                        img(src="images/about1.jpg")
                    .feed__desc Описание для фотогафии можно в одну строку а можно в несколько
                        .feed__data 21.11.17

