.about {
  display: flex;
  justify-content: space-between;
  &__info {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    &-inner {
      padding: 40px 60px 0 0;
      width: 545px;
      align-self: center;
    }
  }
  &__images {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__image {
    width: 33.33%;

    img {
      width: 100%;
    }
  }
  &__text {
    font-size: 14px;
    color: #333;
    line-height: 22px;
    margin-bottom: 50px;
  }
  &__title {
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 100px;
      height: 2px;
      background-color: #a1c834;
      bottom: 0;
      left: 0;
    }
    h2 {
      font-weight: 700;
    }
  }
}