doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
        link(rel="stylesheet" href="styles.css")

        title Document

    body
        include ../blocks/header/header
        .content
            .container
                .content__title-h1
                    h1 Пицца
                .best__inner
                    each i in [1,2,3,4,5,6]
                        .best__item
                            include ../blocks/dish/dish 
            .container
                .content__description Бесплатная доставка вкусной и полезной еды на дом и в офис. Шумовка - свежайшие ингредиенты, большой выбор и выгодные цены!

        //- .content Контьент

        include ../blocks/footer/footer


        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
        script.
            !function (i,s,o,g,r,a,m) {
                if (typeof window[g] === "undefined") {
                    var script = s.createElement("script");
                    var node   = s.getElementsByTagName("script")[0];
                    script.src = o;
                    script.type = "text/javascript";
                    node.parentNode.insertBefore(script, node);
                }
            }(window, document, "js/jquery.min.js", "jQuery");
        // /подключение jquery
        script(src="/main.js")