.contact
	.contact__inner
		.contact__title
			h1 Как нас найти
		.contact__subtitle Адрес
		.contact__address г. Киров, ул. Калинина, 40
		.contact__subtitle Телефон
		a(href="tel:+78332416646").dish__modal-link.contact__phone +7-(8332)-41-66-46 
		.contact__subtitle Режим работы
		.contact__work
			div Воскресенье - Понедельник 
				span 10.00 - 22.00
			div Пятница - Суббота 
				span 10.00 - 23.00
		include ../social/social