.reviews {
  &-index {
    
  }
  &__title {
    margin-bottom: 30px;
    margin-top: 40px;
    h1 {
      font-weight: 700;
      text-align: left;
    }
    h2 {
      text-align: left;
      font-weight: 700;
    }
  }
  &__img {
    
    a {
      font-weight: 600;
      margin-top: 20px;
      display: inline-block;
      color: #88bd4b;
      padding-left: 27px;
      background: url('pict.svg') no-repeat;
      background-size: 19px;
      background-position: 0px 1px;
      outline: none;
    }

    img {
      width: 100%;
    }
  }
  &__inner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: - 15px;
  }
  &__item {
    width: calc(33.33% - 30px);
    margin: 15px;
    border-radius: 4px;
    // background-color: #f8f8f8;
    position: relative;
    &-feedback {
      border: 2px dashed #a1c834;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: center;
      justify-content: center;
      background: #fff;
      background-size: 220px;
      transition: opacity, .2s;
      box-shadow: none;
      &:hover {
        text-decoration: none;
        opacity: .8;
      }
      &:focus {
        text-decoration: none;
      }
    }
    &-vk {
      width: 70px;
    }
    &-feed {
      text-align: center;
      color: #444;
      font-weight: 700;
      width: 100%;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    background: url('like.svg') no-repeat, #f8f8f8;
    background-position: 15px 45%;
    background-size: 15px;
    padding: 15px 15px 15px 40px;
  }
  &__name {
    font-weight: 700;
    font-size: 14px;
  }
  &__date {
    font-size: 12px;
    color: #888;
  }
  &__text {
    font-size: 14px;
    color: #222;
    padding: 15px;
    line-height: 23px;
    // background-color: #F8F8F8;
  }
  &__button {
    padding: 25px;
    text-align: center;
  }
  &__watch {
    display: inline-block;
    background: url('like-rev.svg') no-repeat 15px 45%, #88bd4b;
    background-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 15px 25px 15px 50px;
    border-radius: 3px;
    font-family: 'a_futuraroundbold', 'Open Sans', sans-serif;
    &:hover {
      opacity: .8;
      color: #fff;
      text-decoration: none;
    }
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
}

@media (max-width: 990px) {
  .reviews {
    &_inner {

    }
    &__title {
      margin-top: 30px;
    }
    &__item {
      width: calc(50% - 30px);
    }
  }
}

@media (max-width: 560px) {
  .reviews {
    &_inner {

    }
    &__item {
      width: calc(100% - 30px);
    }
  }
}