.button {
  &__primary {
    color: $white;
    border: 2px solid #88bd4b;
    background-color: #88bd4b;
    border-radius: 4px;
    padding: 5px 25px;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    transition: all, .2s;
    cursor: pointer;
    font-family: 'a_futuraroundbold', 'Open Sans', sans-serif;

    &:hover {
      background-color: $white;
      color: #88bd4b; 
      text-decoration: none;
      box-shadow: none;
    }

    &:focus {
      background-color: $white;
      color: #88bd4b; 
      text-decoration: none;
    }

    &-big {
      padding:  9px 35px;
      font-size: 16px;  
    }
  }
  &-shadow {
    box-shadow: 0 4px 20px -5px #999;
  }
  &__reverse {
    display: inline-block;
    background: transparent;
    border: 2px solid #88bd4b;
    color: #88bd4b;
    padding:  9px 35px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    transition: all, .1s;
    font-family: 'a_futuraroundbold', 'Open Sans', sans-serif;
    &:hover {
      background: #88bd4b;
      color: $white;
      text-decoration: none;
    }
  }
}

.buttons {
  &__container {
    &-center {
      text-align: center;
    }
  }
}