.button {
  background: transparent;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }

  &_regulator {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-color: #88bd4b;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: all 200ms ease;
    &:hover {
      background-color: #96c462;
      text-decoration: none;
    }
    &:active {
      background-color: #8faf6a;
      color: $white;
      transition: all, .2s;
      text-decoration: none;
    }
  }

  &-secondary {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 7px 35px 7px 10px;
    font-size: 14px;
    vertical-align: middle;
    border: 2px solid #88bd4b;
    border-radius: 20px;
    margin-left: 20px;
    color: #88bd4b;
    &-about {
      font-weight: 700;
      line-height: 15px;
      margin: 30px 0 0 0;

      &-hovered {
        background-color: #88bd4b;
        color: $white;
        margin-left: 20px;  
      }
    }
    &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 4px;
      right: 6px;
      background-color: #88bd4b;
      border-radius: 50%;
      background-image: url('arrow-button.svg');
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: 4px 4px;
      transform: rotate(-180deg);
    }
    &:hover {
      background-color: #88bd4b;
      color: $white;
      transition: all, .2s;
      text-decoration: none;
    }
    &:focus {
      background-color: #88bd4b;
      color: $white;
      transition: all, .2s;
      text-decoration: none;
    }
  }
  &__menu {
    display: none;
    cursor: pointer;
    width: 20px;
    div {
      height: 2px;
      background-color: #444;
      transition: all, .3s;
      transform-origin: center;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }

    &-active {
      div {
        &:first-child {
          transform: rotate(-45deg) translate(-1px, 4px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(45deg) translate(-3px, -6px);
        }
      }
    }
  }
  &__primary {
    color: $white;
    border: none;
    position: relative;
    background-color: #88bd4b;
    border-radius: 3px;
    padding: 7px 25px;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    transition: all 200ms ease;

    &.disabled {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }

    &:hover {
      background-color: #9fd365;
      text-decoration: none;
      box-shadow: none;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(.99);
    }

    &-big {
      padding:  9px 35px;
      font-size: 16px;  
    }
  }
  &-shadow {
    box-shadow: 0 4px 20px -5px #999;
  }
  &__reverse {
    display: inline-block;
    background: transparent;
    border: 2px solid #88bd4b;
    color: #88bd4b;
    padding:  9px 35px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    transition: all, .1s;
    font-family: 'a_futuraroundbold', 'Open Sans', sans-serif;
    &:hover {
      background: #88bd4b;
      color: $white;
      text-decoration: none;
    }
    &:focus {
      background: #88bd4b;
      color: $white;
      text-decoration: none;
    }
  }
}

.buttons {
  &__container {
    &-center {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .button {
    &__menu {
      display: block;
    }
    &-secondary {
      margin-left: 0;
    }

    &__primary {
      padding: 14px 30px;
    }

    &_regulator {
      width: 48px;
      height: 48px;
    }
  }
}