.map {
	#ymap {
      width: 555px;
      height: 555px;
    }
}

@media (max-width: 1200px) {
	.map {
		#ymap {
			width: 450px;
			height: 450px;
		}
	}
}

@media (max-width: 990px) {
	.map {
		#ymap {
			width: 100%;
		}
	}
}