.dish {
  background: $white;
  border-radius: 4px;
  position: relative;
  padding-bottom: 64px;
  height: 100%;

  &__regulator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
    transition: all 200ms ease;

    &.active {
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }

    &_widget {
      opacity: 1;
      visibility: visible;
      position: static;
      width: 100px;
      .button_regulator  {
        width: 28px;
        height: 28px;
      }
    }

  }

  &__amount {
    font-weight: 600;
    width: 44px;
    text-align: center;
    flex-shrink: 0;
  }

  &__actions {
    height: 35px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    position: relative;
    img {
      width: 100%;
      display: block;
    }
  }
  &__labels {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &__modifications {
    display: flex;
    margin-top: 19px;
    &_multiple {
      background-color: #f3f3f3;
      border-radius: 3px;
    }

    &_2 {
      .dish__modifications-item {
        width: 50%;
      }
    }
    &_3 {
      .dish__modifications-item {
        width: 33.33%;
      }
    }

    &-item {
      display: inline-block;
      padding: 4px 10px;
      text-align: center;
      border: none;
      cursor: pointer;
      background: transparent;
      font-weight: 400;
      font-size: 13px;
      font-family: 'Montserrat',sans-serif;
      color: #888;
      &:hover {
        background-color: #eeeeee;
        color: #000;
      }
      &:focus {
        outline: none;
      }
      &_active {
        background-color: #fff;
        border-radius: 3px;
        color: #000;
        border: 1px solid #76ad37;
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
  &__label {
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 14px;
    font-family: 'a_futuraroundbold', 'Open Sans', sans-serif;
    user-select: none;
    &-action {
      background-color: #FB9902;
    }
  }
  &__info {
    position: relative;
    padding: 14px 0 0 0;
  }
  &__title {
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 20px;
    font-size: 18px;
  }
  &__weight {
    color: #888;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 6px;
  }
  &__text {
    color: #777;
    font-size: 13px;
    letter-spacing: 0.5;
    line-height: 18px;
    min-height: 54px;
    p {
      margin-bottom: 0;
    }
  }
  &__order {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }
  &__price {
    display: inline-block;
    margin-left: 15px;
    font-weight: 700;
    position: relative;
    color: #2a381b;
    font-size: 19px;
  }
  &__category {
    font-size: 10px;
    margin-bottom: 7px;
    color: #6a9a33;
    line-height: 10px;
    &:hover {
      text-decoration: none;
      color: #6a9a33;
      opacity: .8;
    }
    &:focus {
      text-decoration: none;
      color: #6a9a33;
      opacity: .8;
    }
  }
  &__old {
    position: absolute;
    top: -10px;
    color: #bdbdbd;
    right: -26px;
    text-decoration: line-through;
    font-size: 13px;
  }
  &__modal {
    &-tpl {
      height: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    &-title {
      font-family: 'a_futuraroundbold','Open Sans',sans-serif;
      color: #333;
      width: 100%;
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
    }
    &-link {
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      color: #72a538;
      border-bottom: 2px solid #bdec87;
      &:hover {
        text-decoration: none;
        color: #72a538;
        border-color: #72a538;
      }
      &:focus {
        text-decoration: none;
        color: #72a538;
        border-color: #72a538;
      }
    }
  }

  &_sous {
    padding-bottom: 0px;
    .zoompic {
      &::after {
        margin-top: -17px;
        margin-left: -18px;
      }
    }
    &-wrap {
    }
    .dish__image {
      width: 70px;
      height: 70px;
      margin: 0 auto 15px auto;
      overflow: hidden;
      border-radius: 50%;
      img {
        display: inline-block;
        width: 107px;
        position: relative;
        left: -30px;
      }
    }

    .dish__info {
      text-align: center;
      padding-top: 0;
      margin-bottom: 10px;
    }

    .dish__order {
      position: static;
      margin-right: 0;
      padding-right: 4px;
    }
  }
}

@media screen and (max-width: 1220px) {
    .dish {
      &__image {
        // height: 193px;
        overflow: hidden;
      }
    }
}

@media screen and (max-width: 990px) {
  .dish {
    &__image {
      // height: 140px;
    }
    &__info {
      padding: 10px;
    }
    &__order {
      padding: 10px;
    }
    
    &__old {
      right: -14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .dish {
   padding-bottom: 90px;
    &__modification {
      margin-top: 7px;
    }
    &__image {
      height: auto;
      overflow: hidden;
    }

    &__order {
      padding: 10px 0;
    }

    &__actions {
      height: 50px;
    }

    &_amount {
      font-size: 18px;
    }
  }
}


@media screen and (max-width: 560px) {
  .dish {
    padding-bottom: 90px;
    &__info {
      height: auto;
      padding: 25px 0 10px 0;
    }
    &__image {
      height: auto;
      overflow: hidden;
    }
    &__price {
      font-size: 21px;
    }
  }
}